[submodule "www/tests"]
	path = www/tests
	url = https://github.com/Sarodus/tests
[submodule "www/sanic_test"]
	path = www/sanic_test
	url = https://github.com/Sarodus/sanic_test
[submodule "www/creator"]
	path = www/creator
	url = https://github.com/Sarodus/creator
[submodule "www/autosqla"]
	path = www/autosqla
	url = https://github.com/Sarodus/autosqla
[submodule "www/TeleCatBot"]
	path = www/TeleCatBot
	url = https://github.com/Sarodus/TeleCatBot
