version: "2"
services:

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - run:/var/run
      - ./www:/var/www
      - ./build/nginx/sites:/etc/nginx/conf.d
      - ./build/nginx/nginx.conf:/etc/nginx/nginx.conf


  sanic:
    image: python:3.5
    build:
      context: build/python
    volumes:
      - ./www/sanic_test:/data
      - python-packages:/usr/local/lib/python3.5/site-packages
      - run:/var/run
    working_dir: /data
    entrypoint: sh
    command: -c "python run.py runserver"


  creator:
    image: python:3.5
    build:
      context: build/python
    links:
      - redis
      - postgres
    volumes:
      - ./www/creator:/data
      - python-packages:/usr/local/lib/python3.5/site-packages
      - bin:/usr/local/bin
      - run:/var/run
    working_dir: /data
    entrypoint: sh
    environment:
      FLASK_APP: /data/manage.py
      REDIS_HOST: redis
      DB_HOST: postgres
      DB_USER: user
      DB_PASSWORD: password
      DEFAULT_DB: base
    command: -c "gunicorn manage:app -b unix:/var/run/creator.sock -k gevent --workers=2 --pid /tmp/creator.pid --reload"


  postgres:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: base


  redis:
    image: redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes


#  mongo:
#    image: mongo:3.2
#    volumes:
#      - mongo-data:/data/db
#    ports:
#      - "27017:27017"
#    mem_limit: 2147483648
#
#

volumes:
  redis-data:
    driver: local
  mysql-data:
    driver: local
  # mongo-data:
  #   driver: local
  postgres-data:
    driver: local
  run:
    driver: local
  python-packages:
    driver: local
  bin:
    driver: local
