<!DOCTYPE html>
<html>
<head>
    <title>My creation!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% for css in g.css %}
    <link rel="stylesheet" href="{{css}}">
    {% endfor %}
    {% for js in g.js %}
    <script src="{{js}}"></script>
    {% endfor %}
  </head>

  <body>

    <div class="container">

      <nav>
        <ul class="nav nav-justified">
          {% for link in g.c.creation.menu['links'] %}
          {# TODO, better active detection #}
          <li class="nav-item">
            <a class="nav-link{% if request.path == link.href %} active{%endif%}" href="{{link.href}}">{{link.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <div id="component-body">
        {{body | safe}}
      </div>


    </div>

  </body>
</html>