<div class="twitter-container">
    <div class="twitter-header row">
        <div class="col-xs-9">
            <div class="twitter-logo">
                <a href="http://www.twitter.com/@{{user.screen_name}}">
                    <img src="{{user.profile_image_url}}" />
                </a>
            </div>
            <div class="twitter-info">
                <div class="title"><strong>{{user.name}}</strong></div>
                <div>
                    <a href="http://www.twitter.com/@{{user.screen_name}}">@{{user.screen_name}}</a>
                </div>
            </div>
        </div>
        <div class="col-xs-3 text-right twitter-icon">
            <a href="http://www.twitter.com/">
                <i class="icon portal-font-twitter font-3x"></i>
            </a>
        </div>
    </div>
    {% for tweet in tweets %}

    <div class="twitter">
        <div class="twitter-image">
            {% if tweet.media %}
            {% for media in tweet.media %}
            <a href="{{media.url}}">
                <img src="{{ media.media_url }}"/>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        <div class="twitter-info row">
            <div class="col-xs-10">{{tweet.text|safe}}</div>
            <div class="col-xs-2 text-right"><span class="date-relative-hours">{{tweet.created_at}}</span></div>
        </div>
    </div>
    {% else %}
    <div class="panel">
        Unable to connect to Twitter
    </div>
    {% endfor %}
</div>
