div.twitter-container {
    max-width:720px;margin:0 auto 10px auto;padding:0 0 5px 0;background-color:#efefef
}
div.twitter-container .portal-font-twitter {
    color:#00aced
}
div.twitter-container a,
div.twitter-container a:active,
div.twitter-container a:link,
div.twitter-container a:visited {
    color:black;text-decoration:none
}
div.twitter-container .twitter-header {
    border:1px solid #cccccc;background-color:white;color:black;padding:15px
}
div.twitter-container .twitter-header img {
    vertical-align:top
}
div.twitter-container .twitter-header .twitter-logo {
    padding-right:10px
}
div.twitter-container .twitter-header .title {
    font-size:1.25em
}
div.twitter-container .twitter-header .twitter-icon {
    padding-right:15px
}
div.twitter-container .twitter-header .twitter-logo,
div.twitter-container .twitter-header .twitter-info {
    vertical-align:middle;display:inline-block
}
div.twitter-container .twitter {
    border:1px solid #cccccc;margin:15px
}
div.twitter-container .twitter a,
div.twitter-container .twitter a:active,
div.twitter-container .twitter a:link,
div.twitter-container .twitter a:visited {
    color:#00aced
}
div.twitter-container .twitter .twitter-image img {
    width:100%
}
div.twitter-container .twitter .twitter-info {
    padding:10px;background-color:white;color:#888
}